    /*
    *
     */

    /*font sizes*/

    .fn-14{
        -fx-font-size: 14px;
    }

    .fn-16{
        -fx-font-size: 16px;
    }

    .fn-18{
        -fx-font-size: 18px;
    }

    .fn-24{
        -fx-font-size: 24px;
    }

    .fn-32{
        -fx-font-size: 32px;
    }
    .fn-48{
        -fx-font-size: 48px;
    }
    .fn-64{
        -fx-font-size: 64px;
    }

    /*text colors*/

    .fill-light-grey{
        -fx-fill: #ececec;
        -fx-text-fill: #ececec;
    }

    .fill-grey{
        -fx-fill: #9c9c9c;
        -fx-text-fill: #9c9c9c;
    }

    .fill-dark{
        -fx-fill: #4f5d55;
        -fx-text-fill: #ececec;
    }

    .fill-white{
        -fx-fill: #ffffff;
        -fx-text-fill: #ffffff;
    }

    /*backround colors*/

    .back-white {
        -fx-background-color: #ffffff;
    }
    .back-transparent{
        -fx-background-color: transparent;
        -fx-background-radius: 0px;
    }
    .back-light-grey{
        -fx-background-color: #ececec;
    }
    .hbox:selected{
        -fx-background-color: #4f5d55;
        -fx-text-fill: #4f5d55;
    }

