<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <H1 th:text="'Номер заказа ' + ${orderDetails.get(0).order.getId()}"/>
    <div th:each="orderDetail : ${orderDetails}">
        <h2 th:text="'Название товара ' + ${orderDetail.getGoods().name}"/>
        <p th:text="'Количество товара: '+ ${orderDetail.getQuanity()}"/>
        <!--<form th:action="@{}">-->
            <!--<div class="stepper stepper&#45;&#45;style-2 js-spinner">-->
                <!--<input autofocus name="" type="number" min="1" max="100" step="1" value="1" class="stepper__input">-->
                <!--<div class="stepper__controls">-->
                    <!--<button type="button" spinner-button="up">+</button>-->
                    <!--<button type="button" spinner-button="down">−</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</form>-->
        <p th:text="'Цена ' + ${orderDetail.amount} + ' рублей'"/>
        <hr/>
    </div>
    <p th:text="'Итого ' + ${wholePrice} + ' рублей'"></p>
    <a href="/order">Вернуться к списку заказов</a>
</body>
</html>